*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
}

/*Utils*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: black;

    height: 80px;
    line-height: 80px;
    text-align: right;
}

button{
    border-radius: 15px;
    padding: 3px;
    font-size: 18px; 
    background-color: darkgray;
    border: 0;
    color: white;
    cursor: pointer;  
}

main{
    background-color: black;
    height: calc(100vh - 160px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

footer{
    background-color: rgb(69, 69, 69);
    height: 60px;
}

/*Users*/

.user{
    display: flex;
    padding: 10px;
}

.user .user-image{
    flex: 0 0 200px;
    padding: 3px;
}

.user-image img{
    max-width: 100%;
    display: block;
}
.user-name{
    position: relative;
    left: 0;
    bottom: 0;
    padding: 5px;
    color: white;
    background-color: black;
}